<div class="col-xs-12 col-sm-5">
  <!-- CONTACT -->
  <div class="box clearfix">
    <h2>Contact</h2>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-phone fa-fw"></span>
      </div>
      <div class="title only pull-right">
        <a href="tel:+33664928257">+336 64 92 82 57</a>
      </div>
    </div>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-envelope fa-fw"></span>
      </div>
      <div class="title only pull-right">
        <a href="mailto=raphael.berlamont@raphux.com"
          >raphael.berlamont@raphux.com</a
        >
      </div>
    </div>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-twitter fa-fw"></span>
      </div>
      <div class="title pull-right">Twitter</div>
      <div class="description pull-right">
        <a href="https://twitter.com/raphux">https://twitter.com/raphux</a>
      </div>
    </div>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-linkedin fa-fw"></span>
      </div>
      <div class="title pull-right">Linkedin</div>
      <div class="description pull-right">
        <a href="https://www.linkedin.com/in/raphaël-berlamont"
          >https://www.linkedin.com/in/raphaël-berlamont</a
        >
      </div>
    </div>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-github fa-fw"></span>
      </div>
      <div class="title pull-right">github</div>
      <div class="description pull-right">
        <a href="https://github.com/raphux">https://github.com/raphux</a>
      </div>
    </div>
    <div class="contact-item">
      <div class="icon pull-left text-center">
        <span class="fa fa-file-pdf-o fa-fw"></span>
      </div>
      <div class="title pull-right">CV en PDF</div>
      <div class="description pull-right">
        <a href="cv-odp-pdf/CV_Raphael_Berlamont.pdf"
          >CV_Raphael_Berlamont.pdf</a
        >
      </div>
    </div>
  </div>
  <!-- SKILLS -->
  <div class="box">
    <h2>Soft skills</h2>
    <div class="skills">
      <div class="item-skills" data-percent="1.00">Résolution de problèmes</div>
      <div class="item-skills" data-percent="1.00">Force de proposition</div>
      <div class="item-skills" data-percent="0.95">Veille techno</div>
      <div class="item-skills" data-percent="0.90">Communication</div>
      <div class="item-skills" data-percent="0.70">Collaboration</div>
      <div class="item-skills" data-percent="0.60">Réflexion critique</div>
      <div class="item-skills" data-percent="0.25">Management</div>
      <div class="skills-legend clearfix">
        <div class="legend-left legend">Capable</div>
        <div class="legend-left legend"><span>Pratiquant</span></div>
        <div class="legend-right legend"><span>Enthousiaste</span></div>
        <div class="legend-right legend">Passion</div>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Hard skills</h2>
    <div class="skills">
      <div class="item-skills" data-percent="1.00">Systèmes d'exploitation</div>
      <div class="item-skills" data-percent="1.00">Scripting</div>
      <div class="item-skills" data-percent="0.85">
        Kubernetes Application Developer
      </div>
      <div class="item-skills" data-percent="0.80">Réseau</div>
      <div class="item-skills" data-percent="0.75">Supervision</div>
      <div class="item-skills" data-percent="0.70">DevOps</div>
      <div class="skills-legend clearfix">
        <div class="legend-left legend">Padawan</div>
        <div class="legend-left legend"><span>Compétent</span></div>
        <div class="legend-right legend"><span>Expert</span></div>
        <div class="legend-right legend">Jedi</div>
      </div>
    </div>
  </div>
  <div class="box">
    <h2>Tools skills</h2>
    <div class="skills">
      <div class="item-skills" data-percent="1.00">Environnement Linux</div>
      <div class="item-skills" data-percent="1.00">PaSSHport</div>
      <div class="item-skills" data-percent="0.95">Bash</div>
      <div class="item-skills" data-percent="0.95">IPTables/Netfilter</div>
      <div class="item-skills" data-percent="0.90">Debian/Ubuntu&hellip;</div>
      <div class="item-skills" data-percent="0.80">RedHat/CentOS&hellip;</div>
      <div class="item-skills" data-percent="0.75">BackupPC</div>
      <div class="item-skills" data-percent="0.72">Ansible</div>
      <div class="item-skills" data-percent="0.70">OpenSSL/TLS/Certificats</div>
      <div class="item-skills" data-percent="0.60">Centreon</div>
      <div class="item-skills" data-percent="0.50">PERL</div>
      <div class="skills-legend clearfix">
        <div class="legend-left legend">Padawan</div>
        <div class="legend-left legend"><span>Compétent</span></div>
        <div class="legend-right legend"><span>Expert</span></div>
        <div class="legend-right legend">Jedi</div>
      </div>
    </div>
  </div>
  <!-- LANGUAGES -->
  <div class="box">
    <h2>Languages</h2>
    <div id="language-skills">
      <div class="skill">
        Français
        <div class="icons pull-right">
          <div style="width: 100%" class="icons-red">
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
          </div>
        </div>
      </div>
      <div class="skill">
        Anglais
        <div class="icons pull-right">
          <div style="width: 100%" class="icons-red">
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
            <span class="fa fa-star fa-fw"></span>
          </div>
        </div>
      </div>
      <div class="skill">
        Japonais
        <div class="icons pull-right">
          <div style="width: 100%" class="icons-red">
            <span class="fa fa-star fa-fw"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- TAGS -->
  <div class="box">
    <h2>Outils & technos divers</h2>
    <div class="tag">AWS</div>
    <div class="tag">Ansible</div>
    <div class="tag">Apache</div>
    <div class="tag">BackupPC</div>
    <div class="tag">Centreon</div>
    <div class="tag">DRBD</div>
    <div class="tag">Docker</div>
    <div class="tag">Gentoo</div>
    <div class="tag">Git</div>
    <div class="tag">Heartbeat</div>
    <div class="tag">IPv6</div>
    <div class="tag">Jenkins</div>
    <div class="tag">K8s/Kubernetes</div>
    <div class="tag">LFS</div>
    <div class="tag">Libvirt</div>
    <div class="tag">Logstash</div>
    <div class="tag">NGiNX</div>
    <div class="tag">OpenBSD</div>
    <div class="tag">OpenVPN</div>
    <div class="tag">PFsense</div>
    <div class="tag">Pacemaker</div>
    <div class="tag">Packer</div>
    <div class="tag">Postfix</div>
    <div class="tag">Request Tracker</div>
    <div class="tag">Varnish</div>
    <div class="tag">Vault</div>
  </div>
  <!-- HOBBIES -->
  <div class="box">
    <h2>Hobbies</h2>
    <div class="hobby">Technologies/Science</div>
    <div class="hobby">Basket</div>
    <div class="hobby">Troller le vendredi</div>
    <div class="hobby">Culture Japonaise</div>
  </div>
</div>
