<!-- CONTACT -->
{{ with .GetPage "contact"}}
<div class="box clearfix">
  <h2>Contact</h2>
  <div class="contact-item">
    <div class="icon pull-left text-center">
      <span class="fa fa-phone fa-fw"></span>
    </div>
    <div class="title only pull-right">
      <a href="tel:{{.Params.phone}}">{{.Params.phone}}</a>
    </div>
  </div>
  <div class="contact-item">
    <div class="icon pull-left text-center">
      <span class="fa fa-envelope fa-fw"></span>
    </div>
    <div class="title only pull-right">
      <a href="{{.Params.mail}}">{{.Params.mail}}</a>
    </div>
  </div>
  {{range .Params.social_media}}
  <div class="contact-item">
    <div class="icon pull-left text-center">
      <span class=" {{.icon}} "></span>
    </div>
    <div class="title pull-right">{{.name}}</div>
    <div class="description pull-right">
      <a href="{{.link}}">{{.link}}</a>
    </div>
  </div>
  {{end}}
</div>
{{end}}
