{{ with .GetPage "experiences" }}
<!---->
{{if .Params.enable}}
<!-- EXPERIENCES -->
<div class="box">
  <h2>Expériences</h2>
  <!---->
  {{ range .Params.items}}
  <div class="job clearfix">
    <div class="col-xs-3">
      <div class="where">{{.title}}</div>
      <div class="year">{{.year}}</div>
    </div>
    <div class="col-xs-9">
      <div class="profession">{{.job_title}}</div>
      <div class="description">
        {{.job_description}}
        <!---->
        {{with .achievements}}
        <div class="realisation">
          <h3>{{.title}}</h3>
          {{range.list}}
          <div class="list">- {{. | markdownify}}</div>
          {{end}}
        </div>
        {{end}}

        <!--Technology-->
        {{with .technology}}
        <div class="technologie">
          <h3>{{.title}}</h3>
          <!---->
          {{ range.items}}
          <div class="tag_rounded">{{.}}</div>
          {{end}}
        </div>
        {{end}}
      </div>
    </div>
  </div>
  {{end}}
</div>
{{end}}
<!---->
{{end}}
