<div class="box">
  <h2>Hard skills</h2>
  <div class="skills">
    <div class="item-skills" data-percent="1.00">Systèmes d'exploitation</div>
    <div class="item-skills" data-percent="1.00">Scripting</div>
    <div class="item-skills" data-percent="0.85">
      Kubernetes Application Developer
    </div>
    <div class="item-skills" data-percent="0.80">Réseau</div>
    <div class="item-skills" data-percent="0.75">Supervision</div>
    <div class="item-skills" data-percent="0.70">DevOps</div>
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Padawan</div>
      <div class="legend-left legend"><span>Compétent</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Jedi</div>
    </div>
  </div>
</div>
