{{ with .GetPage "hardSkills"}}
<div class="box">
  <h2>{{.Title}}</h2>
  <div class="skills">
    {{ range .Params.items}}
    <div class="item-skills" data-percent="{{.percentage}}">{{.title}}</div>
    {{end}}
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Padawan</div>
      <div class="legend-left legend"><span>Compétent</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Jedi</div>
    </div>
  </div>
</div>
{{end}}
