<!-- LANGUAGES -->
<div class="box">
  <h2>Languages</h2>
  <div id="language-skills">
    <div class="skill">
      Français
      <div class="icons pull-right">
        <div style="width: 100%" class="icons-red">
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
        </div>
      </div>
    </div>
    <div class="skill">
      Anglais
      <div class="icons pull-right">
        <div style="width: 100%" class="icons-red">
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
          <span class="fa fa-star fa-fw"></span>
        </div>
      </div>
    </div>
    <div class="skill">
      Japonais
      <div class="icons pull-right">
        <div style="width: 100%" class="icons-red">
          <span class="fa fa-star fa-fw"></span>
        </div>
      </div>
    </div>
  </div>
</div>
