<!-- SKILLS -->
{{ with .GetPage "softSkills"}}
<div class="box">
  <h2>{{.Title}}</h2>
  <div class="skills">
    {{ range .Params.items}}
    <div class="item-skills" data-percent="{{.percentage}}">{{.title}}</div>
    {{end}}
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Capable</div>
      <div class="legend-left legend"><span>Pratiquant</span></div>
      <div class="legend-right legend"><span>Enthousiaste</span></div>
      <div class="legend-right legend">Passion</div>
    </div>
  </div>
</div>
{{end}}
