<div class="box">
  <h2>Tools skills</h2>
  <div class="skills">
    <div class="item-skills" data-percent="1.00">Environnement Linux</div>
    <div class="item-skills" data-percent="1.00">PaSSHport</div>
    <div class="item-skills" data-percent="0.95">Bash</div>
    <div class="item-skills" data-percent="0.95">IPTables/Netfilter</div>
    <div class="item-skills" data-percent="0.90">Debian/Ubuntu&hellip;</div>
    <div class="item-skills" data-percent="0.80">RedHat/CentOS&hellip;</div>
    <div class="item-skills" data-percent="0.75">BackupPC</div>
    <div class="item-skills" data-percent="0.72">Ansible</div>
    <div class="item-skills" data-percent="0.70">OpenSSL/TLS/Certificats</div>
    <div class="item-skills" data-percent="0.60">Centreon</div>
    <div class="item-skills" data-percent="0.50">PERL</div>
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Padawan</div>
      <div class="legend-left legend"><span>Compétent</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Jedi</div>
    </div>
  </div>
</div>
