<!-- TAGS -->
<div class="box">
  <h2>Outils & technos divers</h2>
  <div class="tag">AWS</div>
  <div class="tag">Ansible</div>
  <div class="tag">Apache</div>
  <div class="tag">BackupPC</div>
  <div class="tag">Centreon</div>
  <div class="tag">DRBD</div>
  <div class="tag">Docker</div>
  <div class="tag">Gentoo</div>
  <div class="tag">Git</div>
  <div class="tag">Heartbeat</div>
  <div class="tag">IPv6</div>
  <div class="tag">Jenkins</div>
  <div class="tag">K8s/Kubernetes</div>
  <div class="tag">LFS</div>
  <div class="tag">Libvirt</div>
  <div class="tag">Logstash</div>
  <div class="tag">NGiNX</div>
  <div class="tag">OpenBSD</div>
  <div class="tag">OpenVPN</div>
  <div class="tag">PFsense</div>
  <div class="tag">Pacemaker</div>
  <div class="tag">Packer</div>
  <div class="tag">Postfix</div>
  <div class="tag">Request Tracker</div>
  <div class="tag">Varnish</div>
  <div class="tag">Vault</div>
</div>
